[Unit]
Description=PPP link to %I
After=network.target network-online.target
Wants=network-online.target
RestartSec=60
Restart=always

[Service]
ExecStart=/usr/sbin/pppd call %I nodetach nolog

[Install]
WantedBy=multi-user.target
