[Unit]
Description=PPP link to %I
After=network.target

[Service]
ExecStart=/usr/sbin/pppd call %I nodetach nolog
RestartSec=1min
Restart=on-failure

[Install]
WantedBy=multi-user.target
