[Unit]
Description=Update Dynamic DNS
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/ddns/secrets.env
ExecStart=/bin/bash -c "MY_IP=`drill -Q o-o.myaddr.l.google.com txt @ns1.google.com | tr -d \"\\\"\"`; if [[ -z $MY_IP ]]; then echo \"my ip not found\"; exit 1; fi; DNS_IP=`dig +short $DDNS_HOSTNAME @8.8.8.8`; if [[ $MY_IP == $DNS_IP ]]; then echo \"No update. IP is $MY_IP and DNS IP is $DNS_IP\"; else echo \"Updating ddns from $DNS_IP to $MY_IP\"; aws route53 change-resource-record-sets --hosted-zone-id $DDNS_ZONE_ID --change-batch \"Changes=[{Action=UPSERT,ResourceRecordSet={ResourceRecords=[{Value=$MY_IP}],Name=$DDNS_HOSTNAME,Type=A,TTL=3600}}]\"; fi"

[Install]
WantedBy=multi-user.target
