[Match]
Name=enp1s0f1

[Network]
Address=10.0.0.1/16

[RoutingPolicyRule]
Table=main
Priority=50
SuppressPrefixLength=0

[RoutingPolicyRule]
FirewallMark=1
Table=fiber
Priority=100

[RoutingPolicyRule]
FirewallMark=1
Table=cable
Priority=101

[RoutingPolicyRule]
FirewallMark=2
Table=cable
Priority=100

[RoutingPolicyRule]
FirewallMark=2
Table=fiber
Priority=101

[RoutingPolicyRule]
Table=fiber
Priority=30000

[RoutingPolicyRule]
Table=cable
Priority=30001
